{% extends 'adminlte/base.html' %}
{% load static %}


{% block links %}

    <link rel="stylesheet" href="{% static 'adminlte/dist/css/alt/table.style.css' %}"/>
{% endblock %}

{% block content %}

    <div class="content-block">
        <div class="title__block">
            {% block title %}
            {% endblock %}
        </div>

        <div class="table-block">
            <table>
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Дата создания</th>
                    <th>Статус</th>
                    <th class="no-bg"></th>
                </tr>
                </thead>
                <tbody>
                {% for pub in publications %}
                    <tr>
                        <td>{{ pub.title }}</td>
                        <td>{{ pub.published_at|date:"d.m.Y" }}</td>
                        <td>{% if pub.is_enabled %}ВКЛ{% else %}ВЫКЛ{% endif %}</td>
                        <td class="no-border">

                            <a href="{% block edit_url %}{% endblock %}" title="Редактировать">
                                <i class="fas fa-pencil-alt"></i>
                            </a>


                            <a href="#" class="delete-button" data-id="{{ pub.id }}" data-title="{{ pub.title }}">
                                <i class="fas fa-trash-alt" style="color:red;"></i>
                            </a>


                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" style="text-align:center;">Нет публикаций</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="deleteModal"
             class="modal"
             style="display: none;"
             data-url-template="{% block delete_url %}{% endblock %}">

            <div class="modal-content">
                <p id="modal-text">Видалити?</p>
                <form id="delete-form" method="post">
                    {% csrf_token %}
                    <button type="submit">Так, видалити</button>
                    <button type="button" id="cancel-button">Скасувати</button>
                </form>
            </div>
        </div>


    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'adminlte/dist/js/pages/delete.model.js' %}"></script>
{% endblock %}