{% load static %}
{% load widget_tweaks %}

{% block links %}
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/alt/seo.css' %}">
{% endblock %}

<fieldset class="seo-block">
    <legend>SEO блок:</legend>

    <div class="seo-row">
        <label for="{{ seo_form.url.id_for_label }}">URL:</label>
        {{ seo_form.url|add_class:"form-control" }}
    </div>

    <div class="seo-row lang-field lang-uk" >
        <label for="{{ seo_form.title_uk.id_for_label }}">Title:</label>
        {{ seo_form.title_uk|add_class:"form-control" }}
    </div>
    <div class="seo-row lang-field lang-uk">
        <label for="{{ seo_form.keywords_uk.id_for_label }}">Keywords:</label>
        {{ seo_form.keywords_uk|add_class:"form-control" }}
    </div>
    <div class="seo-row lang-field lang-uk" >
        <label for="{{ seo_form.description_uk.id_for_label }}">Description:</label>
        {{ seo_form.description_uk|add_class:"form-control" }}
    </div>

    <div class="seo-row lang-field lang-ru">
        <label for="{{ seo_form.title_ru.id_for_label }}">Title:</label>
        {{ seo_form.title_ru|add_class:"form-control" }}
    </div>
    <div class="seo-row lang-field lang-ru">
        <label for="{{ seo_form.keywords_ru.id_for_label }}">Keywords:</label>
        {{ seo_form.keywords_ru|add_class:"form-control" }}
    </div>
    <div class="seo-row lang-field lang-ru">
        <label for="{{ seo_form.description_ru.id_for_label }}">Description:</label>
        {{ seo_form.description_ru|add_class:"form-control" }}
    </div>
</fieldset>
