{% load static %}
{% load i18n %}


<div class="block-about-cinema-a" style="gap: 5px;">
    <a class="nav-link" href="{% url 'about_page' %}">{% trans "About-cinema" %}</a>
    <a class="nav-link dropdown-toggle dropdown-toggle-split"
       href="#" id="aboutUsDropdown"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="aboutUsDropdown">
        <li><a class="dropdown-item" href="{% url 'news_page' %}">{% trans "News" %}</a></li>
        <li><a class="dropdown-item" href="{% url 'cafe_bar_page' %}">{% trans "Cafe-Bar" %}</a></li>
        <li><a class="dropdown-item" href="{% url 'vip_hall_page' %}">{% trans "vip-hall" %}</a></li>
        <li><a class="dropdown-item" href="{% url 'children_room_page' %}">{% trans "children-room" %}</a></li>
        <li><a class="dropdown-item" href="{% url 'advertising_page' %}">{% trans "Advertisement" %}</a></li>
        <li><a class="dropdown-item" href="#">{% trans "Contacts" %}</a></li>
        {% for n in news_pages %}
            <li><a class="dropdown-item" href="">{{ n.title }}</a></li>
        {% endfor %}
    </ul>
</div>
