{% extends 'main/page/base.html' %}
{% load static %}
{% load i18n %}


{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/poster.css' %}">


    {% if type == 'poster_page' %}
        <meta name="keywords" content="афиша"/>
        <meta name="description" content="афиша"/>
        <title>Афиша</title>
    {% else %}
        <meta name="keywords" content="скоро"/>
        <meta name="description" content="скоро"/>
        <title>Скоро</title>
    {% endif %}
{% endblock %}

{% block search_url %}
    <form action="{% url 'poster_search' %}" class="d-flex search-form" method="get">
        <input id="searchInput" value="{{ request.GET.q }}" name="q" class="form-control me-2"
               type="search" placeholder="{% trans 'search-title' %}"
               aria-label="Search">
    </form>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="block-movie-wrapper">
            {% for m in movies %}
                <div class="block-movie-item">
                    <div class="block-date">
                        {% if m.start_time|date:"Y-m-d" == today|date:"Y-m-d" %}
                            {% trans 'watch_today' %}
                        {% else %}
                            {% trans 'with_title' %}&nbsp;{{ m.start_time|date:"Y-m-d" }}
                        {% endif %}
                    </div>

                    <img src="{{ m.movie.main_image.url }}" alt="main image">
                    <a class="movie-title-href" href="{% url 'poster_buy' m.movie.pk %}">
                        {{ m.movie.title }}
                    </a>
                    <a class="block-movie-btn" href="{% url 'poster_buy' m.movie.pk %}">
                        {% trans 'reverse_ticket_buy_btn' %}
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}