{% extends 'adminlte/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/alt/base_page.css' %}">
{% endblock %}
{% block content %}
    <form id="newsForm" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="content-block">
            <div class="top-controls">
                <div class="switch-row">
                    <label class="switch-label" for="{{ form.is_enabled.id_for_label }}">ВКЛ</label>
                    <label class="custom-switch">
                        {{ form.is_enabled }}
                        <span class="slider"></span>
                    </label>
                </div>

                <div class="lang-buttons">
                    <a href="?lang=uk"
                       class="lang__buttons-left {% if lang == 'uk' %}active{% endif %}"
                       data-lang="uk">Українська</a>
                    <a href="?lang=ru"
                       class="lang__buttons-right {% if lang == 'ru' %}active{% endif %}"
                       data-lang="ru">Русский</a>
                </div>

            </div>

            <div class="main__controls">
                <div class="main__controls-top">
                    <div class="form-group-inline lang-field lang-ru" {% if lang != 'ru' %}style="display:none"{% endif %}>
                        <label for="{{ form.title_ru.id_for_label }}">Название {{ publication_type_label }}</label>
                        {{ form.title_ru|add_class:"form-control" }}
                    </div>

                    <div class="form-group-inline lang-field lang-uk" {% if lang != 'uk' %}style="display:none"{% endif %}>
                        <label for="{{ form.title_uk.id_for_label }}">Назва</label>
                        {{ form.title_uk|add_class:"form-control" }}
                    </div>

                    <div class="form-group-inline form-group-inline-data">
                        <label for="{{ form.published_at.id_for_label }}">Дата публикации</label>
                        {{ form.published_at|add_class:"form-control" }}
                    </div>

                    <div class="form-group-desc lang-field lang-ru" {% if lang != 'ru' %}style="display:none"{% endif %}>
                        <label for="{{ form.description_ru.id_for_label }}">Описание</label>
                        {{ form.description_ru|add_class:"form-control" }}
                    </div>

                    <div class="form-group-desc lang-field lang-uk" {% if lang != 'uk' %}style="display:none"{% endif %}>
                        <label for="{{ form.description_uk.id_for_label }}">Опис</label>
                        {{ form.description_uk|add_class:"form-control" }}
                    </div>
                </div>

                <div class="main__controls-center">
                    <label>Главная картинка</label>
                    <div class="main-image-group">
                        <div class="main-image">
                            <img id="mainPreview"
                                 src="{% if form.instance.main_image %}{{ form.instance.main_image.url }}{% else %}{% static 'adminlte/dist/img/img-none.jpg' %}{% endif %}"
                                 data-default="{% static 'adminlte/dist/img/img-none.jpg' %}"
                                 alt="main image">
                        </div>
                        <div class="main-buttons">
                            {{ form.main_image|add_class:"d-none" }}
                            <button id="uploadBtn" type="button">загрузить</button>
                            <button id="deleteBtn" type="button">Удалить</button>
                        </div>
                    </div>
                </div>

                <div class="gallery-block">
                    <div class="gallery-info-row">
                        <label>Галерея картинок</label>
                    </div>

                    <div data-upload-btn="Добавить"
                         class="banner-row gallery-row"
                         id="banner-container"
                         data-default="{% static 'adminlte/dist/img/img-none.jpg' %}">

                        <h6>Размер: 1000x190</h6>

                        {{ form.gallery }}

                        <button type="button" class="btn btn-outline-primary btn-sm" id="add-banner">
                            Добавить фото
                        </button>
                    </div>

                    <div class="form-group-inline from-group-inline-video">
                        <label for="{{ form.video_url.id_for_label }}">Ссылка на видео</label>
                        {{ form.video_url|add_class:"form-control" }}
                    </div>

                </div>

                <div id="seo-fields">
                    {% include 'adminlte/pages/seo_base.html' %}
                </div>

                <div class="save-block">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Сохранить</button>
                </div>

                <div id="form-errors" class="form-errors">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'adminlte/dist/js/pages/adding_news.js' %}"></script>
{% endblock %}
