{% extends 'adminlte/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/alt/base_page.css' %}">
{% endblock %}
{% block content %}
    <form id="newsForm" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="content-block">
            <div class="top-controls">
                <div class="switch-row">
                    <label class="switch-label" for="is_enabled">ВКЛ</label>
                    <label class="custom-switch">
                        <input type="checkbox" name="is_enabled" id="is_enabled" checked>
                        <span class="slider"></span>
                    </label>
                </div>

                <div class="lang-buttons">
                    <div class="lang-buttons">
                        <a href="?lang=uk"
                           class="lang__buttons-left {% if lang == 'uk' %}active{% endif %}">Українська</a>
                        <a href="?lang=ru"
                           class="lang__buttons-right {% if lang == 'ru' %}active{% endif %}">Русский</a>
                    </div>

                </div>
            </div>

            <div class="main__controls">
                <div class="main__controls-top">
                    <div class="form-group-inline">
                        <label for="{{ form.title.id_for_label }}">{{ t.title }}</label>
                        {{ form.title|add_class:"form-control" }}
                    </div>
                    <div class="form-group-inline">
                        <label for="{{ form.published_at.id_for_label }}">{{ t.data }}</label>
                        {{ form.published_at|add_class:"form-control" }}
                    </div>
                    <div class="form-group-desc">
                        <label for="{{ form.description.id_for_label }}">{{ t.desc }}</label>
                        {{ form.description|add_class:"form-control" }}
                    </div>

                </div>

                <div class="main__controls-center">
                    <label>{{ t.main_image }}</label>
                    <div class="main-image-group">
                        <div class="main-image">
                            <img id="mainPreview"
                                 src="{% static 'adminlte/dist/img/img-none.jpg' %}"
                                 data-default="{% static 'adminlte/dist/img/img-none.jpg' %}"
                                 alt="main image">
                        </div>
                        <div class="main-buttons">
                            {{ form.main_image|add_class:"d-none" }}
                            <button id="uploadBtn">{{ t.upload_btn }}</button>
                            <button id="deleteBtn">{{ t.delete_btn }}</button>
                        </div>
                    </div>
                </div>

                <div class="gallery-block">
                    <div class="gallery-info-row">
                        <label>{{ t.gallery_title }}</label>
                    </div>

                    <div data-upload-btn="{{ t.gallery_add_photo }}"
                         class="banner-row gallery-row"
                         id="banner-container"
                         data-default="{% static 'adminlte/dist/img/img-none.jpg' %}">

                        <h6>{{ t.size_title }}</h6>

                        {{ form.gallery }}

                        <!-- Кнопка додавання нових елементів у галерею -->
                        <button type="button" class="btn btn-outline-primary btn-sm" id="add-banner">
                            {{ t.add_photo }}
                        </button>
                    </div>


                    <div class="form-group-inline from-group-inline-video">
                        <label for="{{ form.video_url.id_for_label }}">{{ t.video_link }}</label>
                        {{ form.video_url|add_class:"form-control" }}
                    </div>

                </div>

                {% include 'adminlte/pages/seo_base.html' %}

                <div class="save-block">
                    <button type="submit" class="btn btn-outline-primary btn-sm">{{ t.save_button }}</button>
                </div>
                <div id="form-errors" class="form-errors"></div>


                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ field.label }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}


            </div>


        </div>
    </form>
{% endblock %}


{% block scripts %}
    <script src="{% static 'adminlte/dist/js/pages/adding_news.js' %}"></script>
{% endblock %}
